#qqqqq {
 color:green;
 font-family: solid;
 border:solid 2px blue;
 border-radius: 5px;
 width:80px;
 background-color:lightblue;
}

button {
font-family:cursive;
background-color:#454545;
width:50px;
}

a {
 color:red;
}

li {
color:violet;
border:solid black;
width: 100px;
background-color: gray;
}

body {
background-color:#B6B6B4;
}

img {
border: solid 2px black;
border-radius: 3px;
}
